/* General */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #201c50;;
    background-color: #f4f4f9;
    line-height: 1.6;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #201c50;;
}

/* Enlaces */
a {
    color: #ef233c; /* Color rojo similar al utilizado en redalas.net */
    text-decoration: none;
}

a:hover {
    color: #d90429; /* Cambio de color al pasar el cursor */
}

/* Botones */
.button {
    background-color: #ef233c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #d90429;
}

/* Secciones */
section {
    padding: 20px;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #201c50;;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para el menú de navegación */
nav {
    background-color: #201c50; /* Fondo oscuro */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-family: 'Source Sans Pro', sans-serif; /* Aplica la fuente */
    font-size: 22px; /* Ajusta el tamaño de la fuente */
    color: white; /* Color de los enlaces */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ee223a; /* Color al pasar el ratón */
    font-size: 20px; /* Tamaño de fuente al pasar el ratón (opcional) */
}
