/* General */
body {
    font-family: 'Libre Baskerville', serif;
    color: #333;
    background-color: #f4f4f9;
    line-height: 1.6;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    color: #2b2d42;
}

/* Enlaces */
a {
    color: #ef233c; /* Color rojo similar al utilizado en redalas.net */
    text-decoration: none;
}

a:hover {
    color: #d90429; /* Cambio de color al pasar el cursor */
}

/* Botones */
.button {
    background-color: #ef233c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #d90429;
}

/* Secciones */
section {
    padding: 20px;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #2b2d42;
    color: white;
    text-align: center;
    padding: 10px 0;
}
